<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdb.demo.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.zdb.demo.entity.City">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="City" jdbcType="VARCHAR" property="city" />
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
        <result column="Scenic_Spot" jdbcType="VARCHAR" property="scenicSpot" />
        <result column="longitude" jdbcType="REAL" property="longitude" />
        <result column="latitude" jdbcType="REAL" property="latitude" />
        <result column="imgView" jdbcType="VARCHAR" property="imgview" />
        <result column="introduce" jdbcType="VARCHAR" property="introduce" />
        <result column="dakatime" jdbcType="VARCHAR" property="dakatime" />
        <result column="dakapeople" jdbcType="VARCHAR" property="dakapeople" />
        <result column="famousallusions" jdbcType="VARCHAR" property="famousallusions" />
        <result column="smalltitle" jdbcType="VARCHAR" property="smalltitle" />
        <result column="word1" jdbcType="VARCHAR" property="word1" />
        <result column="img1" jdbcType="VARCHAR" property="img1" />
        <result column="word2" jdbcType="VARCHAR" property="word2" />
        <result column="img2" jdbcType="VARCHAR" property="img2" />
        <result column="word3" jdbcType="VARCHAR" property="word3" />
        <result column="img3" jdbcType="VARCHAR" property="img3" />
        <result column="classification" jdbcType="VARCHAR" property="classification" />
        <result column="star" jdbcType="REAL" property="star" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
        @mbggenerated
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        id, Name, City, subtitle, Scenic_Spot, longitude, latitude, imgView, introduce, dakatime, 
        dakapeople, famousallusions, smalltitle, word1, img1, word2, img2, word3, img3, classification, 
        star
    </sql>
    <select id="selectByExample" parameterType="com.zdb.demo.entity.CityExample" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from city
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from city
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        delete from city
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.zdb.demo.entity.CityExample">
        <!--
        @mbggenerated
        -->
        delete from city
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.zdb.demo.entity.City">
        <!--
        @mbggenerated
        -->
        insert into city (id, Name, City, 
            subtitle, Scenic_Spot, longitude, 
            latitude, imgView, introduce, 
            dakatime, dakapeople, famousallusions, 
            smalltitle, word1, img1, 
            word2, img2, word3, 
            img3, classification, star
            )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
            #{subtitle,jdbcType=VARCHAR}, #{scenicSpot,jdbcType=VARCHAR}, #{longitude,jdbcType=REAL}, 
            #{latitude,jdbcType=REAL}, #{imgview,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
            #{dakatime,jdbcType=VARCHAR}, #{dakapeople,jdbcType=VARCHAR}, #{famousallusions,jdbcType=VARCHAR}, 
            #{smalltitle,jdbcType=VARCHAR}, #{word1,jdbcType=VARCHAR}, #{img1,jdbcType=VARCHAR}, 
            #{word2,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, #{word3,jdbcType=VARCHAR}, 
            #{img3,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, #{star,jdbcType=REAL}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.zdb.demo.entity.City">
        <!--
        @mbggenerated
        -->
        insert into city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="city != null">
                City,
            </if>
            <if test="subtitle != null">
                subtitle,
            </if>
            <if test="scenicSpot != null">
                Scenic_Spot,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="imgview != null">
                imgView,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
            <if test="dakatime != null">
                dakatime,
            </if>
            <if test="dakapeople != null">
                dakapeople,
            </if>
            <if test="famousallusions != null">
                famousallusions,
            </if>
            <if test="smalltitle != null">
                smalltitle,
            </if>
            <if test="word1 != null">
                word1,
            </if>
            <if test="img1 != null">
                img1,
            </if>
            <if test="word2 != null">
                word2,
            </if>
            <if test="img2 != null">
                img2,
            </if>
            <if test="word3 != null">
                word3,
            </if>
            <if test="img3 != null">
                img3,
            </if>
            <if test="classification != null">
                classification,
            </if>
            <if test="star != null">
                star,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="scenicSpot != null">
                #{scenicSpot,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=REAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=REAL},
            </if>
            <if test="imgview != null">
                #{imgview,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="dakatime != null">
                #{dakatime,jdbcType=VARCHAR},
            </if>
            <if test="dakapeople != null">
                #{dakapeople,jdbcType=VARCHAR},
            </if>
            <if test="famousallusions != null">
                #{famousallusions,jdbcType=VARCHAR},
            </if>
            <if test="smalltitle != null">
                #{smalltitle,jdbcType=VARCHAR},
            </if>
            <if test="word1 != null">
                #{word1,jdbcType=VARCHAR},
            </if>
            <if test="img1 != null">
                #{img1,jdbcType=VARCHAR},
            </if>
            <if test="word2 != null">
                #{word2,jdbcType=VARCHAR},
            </if>
            <if test="img2 != null">
                #{img2,jdbcType=VARCHAR},
            </if>
            <if test="word3 != null">
                #{word3,jdbcType=VARCHAR},
            </if>
            <if test="img3 != null">
                #{img3,jdbcType=VARCHAR},
            </if>
            <if test="classification != null">
                #{classification,jdbcType=VARCHAR},
            </if>
            <if test="star != null">
                #{star,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zdb.demo.entity.CityExample" resultType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        select count(*) from city
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--
        @mbggenerated
        -->
        update city
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                Name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.city != null">
                City = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.subtitle != null">
                subtitle = #{record.subtitle,jdbcType=VARCHAR},
            </if>
            <if test="record.scenicSpot != null">
                Scenic_Spot = #{record.scenicSpot,jdbcType=VARCHAR},
            </if>
            <if test="record.longitude != null">
                longitude = #{record.longitude,jdbcType=REAL},
            </if>
            <if test="record.latitude != null">
                latitude = #{record.latitude,jdbcType=REAL},
            </if>
            <if test="record.imgview != null">
                imgView = #{record.imgview,jdbcType=VARCHAR},
            </if>
            <if test="record.introduce != null">
                introduce = #{record.introduce,jdbcType=VARCHAR},
            </if>
            <if test="record.dakatime != null">
                dakatime = #{record.dakatime,jdbcType=VARCHAR},
            </if>
            <if test="record.dakapeople != null">
                dakapeople = #{record.dakapeople,jdbcType=VARCHAR},
            </if>
            <if test="record.famousallusions != null">
                famousallusions = #{record.famousallusions,jdbcType=VARCHAR},
            </if>
            <if test="record.smalltitle != null">
                smalltitle = #{record.smalltitle,jdbcType=VARCHAR},
            </if>
            <if test="record.word1 != null">
                word1 = #{record.word1,jdbcType=VARCHAR},
            </if>
            <if test="record.img1 != null">
                img1 = #{record.img1,jdbcType=VARCHAR},
            </if>
            <if test="record.word2 != null">
                word2 = #{record.word2,jdbcType=VARCHAR},
            </if>
            <if test="record.img2 != null">
                img2 = #{record.img2,jdbcType=VARCHAR},
            </if>
            <if test="record.word3 != null">
                word3 = #{record.word3,jdbcType=VARCHAR},
            </if>
            <if test="record.img3 != null">
                img3 = #{record.img3,jdbcType=VARCHAR},
            </if>
            <if test="record.classification != null">
                classification = #{record.classification,jdbcType=VARCHAR},
            </if>
            <if test="record.star != null">
                star = #{record.star,jdbcType=REAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
        @mbggenerated
        -->
        update city
        set id = #{record.id,jdbcType=INTEGER},
            Name = #{record.name,jdbcType=VARCHAR},
            City = #{record.city,jdbcType=VARCHAR},
            subtitle = #{record.subtitle,jdbcType=VARCHAR},
            Scenic_Spot = #{record.scenicSpot,jdbcType=VARCHAR},
            longitude = #{record.longitude,jdbcType=REAL},
            latitude = #{record.latitude,jdbcType=REAL},
            imgView = #{record.imgview,jdbcType=VARCHAR},
            introduce = #{record.introduce,jdbcType=VARCHAR},
            dakatime = #{record.dakatime,jdbcType=VARCHAR},
            dakapeople = #{record.dakapeople,jdbcType=VARCHAR},
            famousallusions = #{record.famousallusions,jdbcType=VARCHAR},
            smalltitle = #{record.smalltitle,jdbcType=VARCHAR},
            word1 = #{record.word1,jdbcType=VARCHAR},
            img1 = #{record.img1,jdbcType=VARCHAR},
            word2 = #{record.word2,jdbcType=VARCHAR},
            img2 = #{record.img2,jdbcType=VARCHAR},
            word3 = #{record.word3,jdbcType=VARCHAR},
            img3 = #{record.img3,jdbcType=VARCHAR},
            classification = #{record.classification,jdbcType=VARCHAR},
            star = #{record.star,jdbcType=REAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zdb.demo.entity.City">
        <!--
        @mbggenerated
        -->
        update city
        <set>
            <if test="name != null">
                Name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                City = #{city,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="scenicSpot != null">
                Scenic_Spot = #{scenicSpot,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=REAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=REAL},
            </if>
            <if test="imgview != null">
                imgView = #{imgview,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                introduce = #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="dakatime != null">
                dakatime = #{dakatime,jdbcType=VARCHAR},
            </if>
            <if test="dakapeople != null">
                dakapeople = #{dakapeople,jdbcType=VARCHAR},
            </if>
            <if test="famousallusions != null">
                famousallusions = #{famousallusions,jdbcType=VARCHAR},
            </if>
            <if test="smalltitle != null">
                smalltitle = #{smalltitle,jdbcType=VARCHAR},
            </if>
            <if test="word1 != null">
                word1 = #{word1,jdbcType=VARCHAR},
            </if>
            <if test="img1 != null">
                img1 = #{img1,jdbcType=VARCHAR},
            </if>
            <if test="word2 != null">
                word2 = #{word2,jdbcType=VARCHAR},
            </if>
            <if test="img2 != null">
                img2 = #{img2,jdbcType=VARCHAR},
            </if>
            <if test="word3 != null">
                word3 = #{word3,jdbcType=VARCHAR},
            </if>
            <if test="img3 != null">
                img3 = #{img3,jdbcType=VARCHAR},
            </if>
            <if test="classification != null">
                classification = #{classification,jdbcType=VARCHAR},
            </if>
            <if test="star != null">
                star = #{star,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zdb.demo.entity.City">
        <!--
        @mbggenerated
        -->
        update city
        set Name = #{name,jdbcType=VARCHAR},
            City = #{city,jdbcType=VARCHAR},
            subtitle = #{subtitle,jdbcType=VARCHAR},
            Scenic_Spot = #{scenicSpot,jdbcType=VARCHAR},
            longitude = #{longitude,jdbcType=REAL},
            latitude = #{latitude,jdbcType=REAL},
            imgView = #{imgview,jdbcType=VARCHAR},
            introduce = #{introduce,jdbcType=VARCHAR},
            dakatime = #{dakatime,jdbcType=VARCHAR},
            dakapeople = #{dakapeople,jdbcType=VARCHAR},
            famousallusions = #{famousallusions,jdbcType=VARCHAR},
            smalltitle = #{smalltitle,jdbcType=VARCHAR},
            word1 = #{word1,jdbcType=VARCHAR},
            img1 = #{img1,jdbcType=VARCHAR},
            word2 = #{word2,jdbcType=VARCHAR},
            img2 = #{img2,jdbcType=VARCHAR},
            word3 = #{word3,jdbcType=VARCHAR},
            img3 = #{img3,jdbcType=VARCHAR},
            classification = #{classification,jdbcType=VARCHAR},
            star = #{star,jdbcType=REAL}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>